In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data=pd.read_csv("E:\Projects\household_power_consumption.txt",sep=';',low_memory=False)

#data.dropna(inplace=True)
data.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [2]:
data['Global_active_power'] = pd.to_numeric(data['Global_active_power'],errors='coerce')
data['Global_reactive_power'] = pd.to_numeric(data['Global_reactive_power'],errors='coerce')
data['Voltage'] = pd.to_numeric(data['Voltage'],errors='coerce')
data['Global_intensity'] = pd.to_numeric(data['Global_intensity'],errors='coerce')
data['Sub_metering_1'] = pd.to_numeric(data['Sub_metering_1'],errors='coerce')
data['Sub_metering_2'] = pd.to_numeric(data['Sub_metering_2'],errors='coerce')

In [3]:
data.isnull().any()

Date                     False
Time                     False
Global_active_power       True
Global_reactive_power     True
Voltage                   True
Global_intensity          True
Sub_metering_1            True
Sub_metering_2            True
Sub_metering_3            True
dtype: bool

In [4]:
data['Global_active_power'].fillna(data['Global_active_power'].mean(),inplace = True)
data['Global_reactive_power'].fillna(data['Global_reactive_power'].mean(),inplace = True)
data['Voltage'].fillna(data['Voltage'].mean(),inplace = True)
data['Global_intensity'].fillna(data['Global_intensity'].mean(),inplace = True)
data['Sub_metering_1'].fillna(data['Sub_metering_1'].mean(),inplace = True)
data['Sub_metering_2'].fillna(data['Sub_metering_2'].mean(),inplace = True)
data['Sub_metering_3'].fillna(data['Sub_metering_3'].mean(),inplace = True)

In [6]:
data.isnull().any()

Date                     False
Time                     False
Global_active_power      False
Global_reactive_power    False
Voltage                  False
Global_intensity         False
Sub_metering_1           False
Sub_metering_2           False
Sub_metering_3           False
dtype: bool

In [7]:
data_reindex=data.reindex(columns=['Global_active_power','Global_reactive_power','Global_intensity','Sub_metering_1','Sub_metering_2','Sub_metering_3','Voltage'])

In [8]:
x = data_reindex.iloc[:50000,0:6].values
y = data_reindex.iloc[:50000,6:7].values

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size=0.2,random_state =1)

In [10]:
from sklearn.ensemble import RandomForestRegressor 
regressor = RandomForestRegressor(n_estimators = 100)

regressor.fit(x_train, y_train) 
y_pred =regressor.predict(x_test)

C:\Users\yasha\anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [11]:
from sklearn.metrics import r2_score
accuracy = r2_score(y_test , y_pred)

In [12]:
accuracy

0.753536615679007